/*
  Project Quiron
  Author: Yesid Perea
  Date: 09/28/2018
*/

header, footer, nav, section, article, aside {
    display: block;
}

body {
    margin: 1em;
    color: #000000;
    font-family: Calibri, Arial, sans-serif;
    background-color: white;
}

/*
.form-control {
    display: inline;
}
*/