<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/quirondb_test</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="connection.username">quiron</property>
        <property name="connection.password">quiron</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping class="co.net.quiron.domain.account.Role" />
        <mapping class="co.net.quiron.domain.account.User" />

        <mapping class="co.net.quiron.domain.care.Diagnostic" />
        <mapping class="co.net.quiron.domain.care.DiagnosticCause" />
        <mapping class="co.net.quiron.domain.care.Medication" />
        <mapping class="co.net.quiron.domain.care.Prescription" />
        <mapping class="co.net.quiron.domain.care.Service" />
        <mapping class="co.net.quiron.domain.care.Visit" />

        <mapping class="co.net.quiron.domain.institution.Organization" />
        <mapping class="co.net.quiron.domain.institution.OrganizationType" />

        <mapping class="co.net.quiron.domain.location.Address" />
        <mapping class="co.net.quiron.domain.location.AddressType"/>
        <mapping class="co.net.quiron.domain.location.Country"/>
        <mapping class="co.net.quiron.domain.location.State" />

        <mapping class="co.net.quiron.domain.person.BusinessEntity" />
        <mapping class="co.net.quiron.domain.person.Patient" />
        <mapping class="co.net.quiron.domain.person.Person" />
        <mapping class="co.net.quiron.domain.person.PersonType"/>
        <mapping class="co.net.quiron.domain.person.Provider"/>

    </session-factory>
</hibernate-configuration>